/*div{
	border-radius:10px;
	border-style: groove;
}
 


*/
.panels{
	border-radius: 5px;

}
body{


background: #ECE9E6; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #ECE9E6 , #FFFFFF); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #ECE9E6 , #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}
h1{
	text-align: center;
	color: white;
}
.spacing{
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 10px;
}
p{
	text-align: justify;
	font-size: 17px;

}
.styling{
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}
/*h2{
	cursor: pointer;
}*/
.align {
	text-align: left;
}
.arrange{
	padding-top: 20px;
}
.size{
	font-size: 30px;
	color: white;
}
.image{
	width:100%;
	height:600px;
}
.monitor{
	margin-left: -150px;
	margin-top: 10px;
	margin-bottom: 300px;
	margin-right: 450px;
}
.cpu{
	margin-left: 700px;
	margin-right: -200px;
	margin-top: 400px;

}
.color{
	color: black;
}
.margin{
	margin-left: 80px;
	margin-right: 200px;
}
.back{



background: #fd746c; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #fd746c , #ff9068); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #fd746c , #ff9068); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
   }     
   .cont{
   	

background: #614385; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #614385 , #516395); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #614385 , #516395); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
   }
   .font{
   	color: white;
   	font-size: 17px;
   }
   .right{
   	text-align: right;
   }


   .black{
   	color: black;
   	font-weight: bold;
   	
   	
   }

   .box{
   	/*opacity: 0.2;
   	filter: alpha(opacity=20);*/
   	margin: 10px;
   	
   	top: 8px;
    left: 16px;
    margin-right: 30px;
    background: url(https://hdwallsource.com/img/2014/7/free-background-images-26868-27584-hd-wallpapers.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

   }

   .opq{
   	opacity: 0.8;
   	filter: alpha(opacity=80);
   }


