/*div{
	border-radius:10px;
	border-style: groove;
}
 #header{
	position: relative;
	z-index:1;
	width: 97.5%;
	margin-top: 10px;
	height: 80px;
	background-color: #7F8C8D;
	margin-bottom: 10px; 
}

#footer{
	
	height: 80px;
	width: 97.5%;
	margin-top:800px;
	position: absolute;
	margin-bottom:10px;

}
.block{
	height:300px;
	width:400px;
	background-color:#7F8C8D;
	display:inline-block;
	position: relative;
	margin-top:400px;
	margin-left:30px;
	margin-bottom: 100px;
}
	
h1{
	text-align: center;
}
h2{
	text-align: center;
}
p{
	text-align: center;
	font-size: 25px;
	font-style: italic;
}




*/
h1{
	text-align: center;
}
.spacing{
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 10px;
}
p{
	text-align: justify;
	font-size: 17px;

}
.styling{
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}
h2{
	cursor: pointer;
}
.align {
	text-align: left;
}
.arrange{
	padding-top: 20px;
}
